<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Controle de Horas
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" fill="outline" [routerLink]="['/horas/cadastrar']">
        Novo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let hora of horas" [routerLink]="['/horas/editar', hora.id]">
      
      <!-- card para outros tipos de registro diferentes de saida -->
      <ion-card-header *ngIf="hora.tipo !== 'SAIDA'">
        <ion-card-subtitle>{{tipoRegistro[hora.tipo]}}</ion-card-subtitle>
        <ion-card-title>{{hora.hora | date: 'dd/MM/yyyy HH:mm'}}</ion-card-title>
      </ion-card-header>

      <!-- card para tipo de registro de saída -->
      <ion-card-header *ngIf="hora.tipo === 'SAIDA'">
        <ion-card-subtitle>{{ tipoRegistro[hora.tipo] }} - {{ setor[hora.setor] }} - {{ hora.equipe }} </ion-card-subtitle>
        <ion-card-title>{{ hora.hora | date: 'dd/MM/yyyy HH:mm'}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- card para quando a lista estiver vazia -->
    <ion-card *ngIf="horas.length==0">
      <ion-card-content>Nenhuma hora cadastrada.</ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>