<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Editar Hora
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="outline" (click)="confirmarExclusao(hora)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Dia</ion-label>
              <ion-input formControlName="dia"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Mês</ion-label>
              <ion-input formControlName="mes"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Ano</ion-label>
              <ion-input formControlName="ano"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Hora</ion-label>
              <ion-input formControlName="horario"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Minuto</ion-label>
              <ion-input formControlName="minuto"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select formControlName="tipo" id="tipo" interface="action-sheet" placeholder="Selecione...">
        <ion-select-option *ngFor="let key of keysTipoRegistro" [value]="key">
          {{tipoRegistro[key]}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="validation-errors" *ngIf="form.controls.tipo.valid && (form.value.valueOf().tipo == 'SAIDA')">
      <ion-item>
        <ion-label position="stacked">Último Cliente</ion-label>
        <ion-input formControlName="ultimoCliente" type="text" id="ultimoCliente"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Equipe</ion-label>
        <ion-input formControlName="equipe" type="text" id="equipe"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Setor</ion-label>
        <ion-select formControlName="setor" interface="action-sheet" placeholder="Selecione..." id="setor">
          <ion-select-option *ngFor="let key of keysSetor" [value]="key">
            {{setor[key]}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-button expand="block" shape="round" size="large" color="primary" fill="outline" [disabled]="form.invalid"
      (click)="atualizar()">
      Editar</ion-button>
    <ion-button expand="block" shape="round" size="large" color="danger" fill="outline" [routerLink]="['/horas/listar']"
      (click)="mensagemToast('Alterações descartadas')">Cancelar
    </ion-button>
  </form>

  <!--   <app-form-debug [form]="form"></app-form-debug> -->

</ion-content>