<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Painel de Controle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label position="stacked">Hora entrada</ion-label>
      <ion-input formControlName="horaEntrada" id="horaEntrada" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hora Saida</ion-label>
      <ion-input formControlName="horaSaida" id="horaSaida" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tempo Almoço</ion-label>
      <ion-input formControlName="tempoAlmoco" id="tempoAlmoco" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Salário Bruto</ion-label>
      <ion-input formControlName="salarioBruto" id="salarioBruto" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Periculosidade</ion-label>
      <ion-checkbox formControlName="periculosidade" slot="start"></ion-checkbox>
    </ion-item>

    <ion-button expand="block" shape="round" size="large" color="primary" fill="outline" (click)="salvar()">
      Salvar
    </ion-button>
    <ion-button expand="block" shape="round" size="large" color="danger" fill="outline"
      [routerLink]="['/horas/listar']" (click)="confirmacaoMessage('Alterações descartadas')">
      Cancelar
    </ion-button>

  </form>

  <!-- <app-form-debug [form]="form"></app-form-debug>  -->
</ion-content>